@import "tailwindcss";

@theme {
    --color-a: #a5bbda;
    --color-b: #fee443;
    --color-c: #314550;
    --color-vert-clair: #f8ffe6;
    --color-vert-fonce: #1a3c12;
    --color-gris: #4f4944;
    --color-bleu-clair: #d6e3ef;
}



body {
  font-family: var(--font-libre-franklin), sans-serif;
}
  
h1, h2, h3 {
  font-family: var(--font-zilla-slab), serif;
}

nav {
  font-family: var(--font-zilla-slab), serif;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -50px -50px;
  }
}

.bg-confetti-animated {
  background-image: url('/images/pattern-confetti.jpg');
  background-repeat: repeat;
  animation: moveBackground 20s linear infinite;
}