@import "tailwindcss";

@theme {
    --color-bleu-canard: #314550;
    --color-b: #fee443;
    --color-c: #314550;
    --color-vert-clair: #f8ffe6;
    --color-vert-fonce: #1a3c12;
    --color-gris: #4f4944;
    --color-bleu-clair: #d6e3ef;
}

:root {
  color-scheme: light;
}

/* styles/globals.css */
html {
  color-scheme: light;
  scroll-behavior: smooth;
  background-color: #8AC6A0;
  scroll-padding-top: 80px;
  /* background: linear-gradient(#f8ffe6, #fde68a); */
}

:target {
  /* même valeur que ton header */
  scroll-margin-top: 80px;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
    background-color: #f8ffe6;
  }
} */


body {
  font-family: var(--font-libre-franklin), sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}
  
h1, h2, h3, h4, h5 {
  font-family: var(--font-zilla-slab), serif;
}

nav {
  font-family: var(--font-zilla-slab), serif;
}



@keyframes patternScroll {
  0% {
    transform: translate3d(0px, 0px, 1px);
  }
  100% {
    transform: translate3d(-250px, -250px, 1px); /* ou ajusté à la taille du motif */
  }
}


.link-blob {
  position: absolute;
  top: -5%;
  left: -10%;
  right: -10%;
  bottom: -5%;
  background-color: #e5ecf4;
  border-radius: 92% 8% 90% 10% / 14% 90% 10% 86%;
  z-index: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
  opacity: 0;
  transform: scale(0);
  transition:
    transform 300ms cubic-bezier(0.5, -0.5, 0.3, 1.4),
    opacity 300ms ease-in;
}

.group:hover .link-blob {
  opacity: 1;
  transform: scale(1);
}

.group:active .link-blob,
.group:not(:hover) .link-blob {
  transition: transform 300ms ease-out, opacity 300ms ease-out;
  transform: scale(2);
  opacity: 0;
}
